<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /templates/movify/assets/css</title>
 </head>
 <body>
<h1>Index of /templates/movify/assets/css</h1>
<ul><li><a href="/templates/movify/assets/"> Parent Directory</a></li>
<li><a href="bootstrap.min.css"> bootstrap.min.css</a></li>
<li><a href="colors.css"> colors.css</a></li>
<li><a href="font-awesome.min.css"> font-awesome.min.css</a></li>
<li><a href="jquery.mmenu.css"> jquery.mmenu.css</a></li>
<li><a href="magnific-popup.css"> magnific-popup.css</a></li>
<li><a href="owl.carousel.min.css"> owl.carousel.min.css</a></li>
<li><a href="responsive.css"> responsive.css</a></li>
<li><a href="simple-line-icons.css"> simple-line-icons.css</a></li>
<li><a href="style.css"> style.css</a></li>
<li><a href="themify-icons.css"> themify-icons.css</a></li>
</ul>
<address>Apache Server at cariera.co Port 80</address>
</body></html>
